*{
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app_header{
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  background-color: white;
}

.app_headerImg{
  object-fit: contain;
  width: 150px;
}