.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}

.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post_text{
    font-weight: normal;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.post_avater{
    margin-right: 10px;
}